.DS_Store
.dart_tool/
.packages
.melos_tool/
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# iOS/Pods and generated
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Secrets
ios/fastlane/AuthKey_*.p8
ios/fastlane/AuthKey_*.json
